* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  background-color: rgba(0, 255, 255, 0.224);
}

h2 {
  font-size: 45px;
  color: rgb(7, 194, 182);
  padding: 40px;
}
