nav {
  padding: 10px;
  background-color: rgb(179, 243, 243);
  display: flex;
  align-items: center;
}

.project-title {
  color: rgb(15, 62, 62);
  text-decoration: none;
}

.btn--warning {
  background-color: rgba(255, 0, 0, 0.017);
  color: rgba(224, 49, 204, 0.782);
  border: 1px solid rgba(224, 49, 204, 0.782);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 5px;
}
